{% load crispy_forms_tags %}
{{ form.media }}

{% if fileupload %}
<form enctype="multipart/form-data" method="post">
{% else %}
<form method="post">
{% endif %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-text mb-3">{{ title }}</h4>
            <hr/>
            {% crispy form %}
        </div>
    </div>
    {% for inline in inlines %}
        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-text mb-3">Contacts</h4>
                <hr/>
                <div id="{{ inline.prefix }}-container">
                    {% crispy inline %}
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary float-end" id="{{ inline.prefix }}-add_more">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

        <div id="{{ inline.prefix }}_empty_form" style="display:none">
            <hr class="mt-4 mb-4"/>
            {% crispy inline.empty_form inline.helper %}
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary form-control mt-3" value="Submit">
</form>
