.github
.idea
.vscode
db.sqlite3
vulnman/conf/secret_key.py
vulnman/conf/local_settings.py
static_files
uploads
venv
__pycache__
static/sass
.sass-cache
resources/checklists
resources/vulnerability_templates