django==4.1.2
cvss==2.5
djangorestframework==3.14.0
Pillow==9.3.0
markdown==3.4.1
bleach==5.0.1
gunicorn==20.1.0
weasyprint==57
django-crispy-forms==1.14.0
crispy-bootstrap5==0.7
django-guardian==2.4.0
matplotlib==3.6.0
django-cors-headers==3.13.0
pygments==2.13.0
django-filter==22.1
pyaml==21.10.1
django-modeltranslation==0.18.5
libsass==0.21.0
django-q==1.3.9
django-two-factor-auth==1.14.0
phonenumbers==8.12.57
vulnman_default_templates
psycopg2-binary