{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Tasks
{% endblock %}

{% block content %}
    <h3 class="text-center">To Dos</h3>
    <hr/>
    <div class="container mt-3">
        <div class="clearfix">
            <div class="float-start">
                <button data-bs-toggle="modal" data-bs-target="#filter-modal" class="btn btn-outline-secondary">
                    <i class="fa fa-filter"></i>
                </button>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Asset</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
                        <td>{{ task.asset }}</td>
                        <td>{{ task.get_status_display}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="create-modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-modal-label">Create Host</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {# crispy create_form #}
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="filter-modal" aria-labelledby="filter-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filter-modal-label">Filter Tasks</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="status" aria-label="Status" name="status">
                                <option selected value="0">Open</option>
                                <option value="1">Closed</option>
                                <option value="2">To Review</option>
                                <option value="3">Not Tested</option>
                                <option value="4">Not Applicable</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="name" id="name" class="form-control" value="{{ request.GET.name }}">
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <div class="clearfix">
                                <div class="float-end">
                                    <a class="btn btn-outline-secondary" href="{% url 'projects:methodologies:project-task-list'%}"><i class="fa fa-times"></i> Reset</a>

                                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
