{% extends 'base.html' %}

{% block title %}
Employees
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item active">Credentials</li>
</ol>
{% endblock %}

{% block content %}

    <div class="clearfix">
        <div class="float-end">
            <a class="btn btn-primary" href="{% url 'projects:social:credential-create' %}">
                <i class="fa fa-plus"></i> Create Credential
            </a>
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped mt-3">
        <thead>
            <tr>
                <th>Username</th>
                <th>Cleartext Password</th>
                <th>Hashed Password</th>
                <th>Location found</th>
                <th>Valid Services</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for credential in credentials %}
                <tr>
                    <td>{{ credential.username }}</td>
                    <td>{{ credential.cleartext_password }}</td>
                    <td>{{ credential.hashed_password }}</td>
                    <td>{{ credential.location_found }}</td>
                    <td>{{ credential.get_valid_services|join:", " }}</td>
                    <td>{{ credential.description }}</td>
                    <td>{% include 'components/actions_dropdown.html' with obj=credential btn_small=1 %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'navigation/pagination.html' %}

{% endblock %}