<html>
<head>
    <meta charset="utf-8">
    <title>{{ report.get_report_title}}</title>
    <meta name="description" content="{{ report.get_report_title }}">
</head>

<body {% if report_type == "draft" %}class="draft"{% endif %}>

    {% include 'default/sections/cover.html' %}

    {# change history #}
    {# table of content #}

    {% include 'default/sections/contacts.html' %}
    {% include 'default/sections/scope.html' %}
    {% include 'default/sections/vulnerability_overview.html' %}
    {% include 'default/sections/mgmt_summary.html' %}
    {% include 'default/sections/technical_details.html' %}

</body>
</html>
