{% load markdown %}
{% load vulns %}

<article id="vulnerability-listing" class="chapter">
    <h1 class="chapter-title" id="vulnerability-listing-title">Technical Details</h1>
</article>

<section>
    <p>This section contains technical details to all vulnerabilities that were identified.</p>
    <p>Recommendation and steps to reproduce the vulnerabilities are provided.</p>
</section>

{% for template in templates %}
<section id="template-{{ template.pk }}">
    <h2>{{ template.name }}</h2>
    <section>
        <h4>Description</h4>
        <p>{{ template.description|md_to_html }}</p>
    </section>
    <section>
        <h4>Recommendation</h4>
        <p>{{ template.recommendation|md_to_html }}</p>
    </section>


    <section id="template-{{ template.pk}}-vulnerbilities">
    {% for vulnerability in template|get_vulns_for_project:project %}
        <!-- Header Table -->
        <section id="vuln-{{ vulnerability.pk}}-header">
            <h3 id="vuln-{{vulnerability.pk}}-title">
                <span class="fa-layers text-{{ vulnerability.severity|lower }}">
                    <i class="fas fa-bookmark"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-8 down-3" style="font-weight:900"></span>
                </span>
                {{ vulnerability.name }} {% if vulnerability.parameter %}- {{vulnerability.parameter}} parameter{% endif %}
            </h3>

            <table class="table-bordered">
                <tr>
                    <th>Severity</th>
                    <td class="text-{{ vulnerability.severity }}">{{ vulnerability.severity|capfirst }}</td>
                </tr>
                {% if vulnerability.cvss_vector %}
                    <tr>
                        <th>CVSS-Vector</th>
                        <td>{{ vulnerability.cvss_vector }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Affected Component</th>
                    <td>{{ vulnerability.asset }} ({{ vulnerability.asset.asset_type }})</td>
                </tr>
                {% if vulnerability.cve_id %}
                <tr>
                    <th>CVE-ID</th>
                    <td>{{ vulnerability.cve_id}}</td>
                </tr>
                {% endif %}
            </table>
        </section>
        <section id="proofs-{{vulnerability.pk}}">
            {% for proof in vulnerability.proofs %}
                {% if proof.description %}
                    {{ proof.description|md_to_html }}
                    {% if proof.image %}
                        <figure>
                            <img src="{{ proof.base64_encoded_image }}" alt="proof-image" style="width: 100%; max-width: 100%; height:auto;">
                            <figcaption>{{ proof.caption }}</figcaption>
                        </figure>
                    {% endif %}                    
                {% endif %}
                {% if proof.text %}
                    {{ proof.text|md_to_html }}
                {% endif %}
            {% endfor %}
        </section>
    {% endfor %}
    </section>
    {% if not forloop.last %}
    <div class="page-break"></div>
    {% endif %}
</section>
{% endfor %}
