{% extends 'base.html' %}
{% load static %}

{% block title %}
To Dos
{% endblock %}

{% block extra_head %}
<link href="{% static 'css/codehilite.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    {% csrf_token %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="list-group" id="todo-list">
                </div>
            </div>
            <div class="col-sm-12 col-md-9 d-none mt-3" id="todo-details">
                <p><strong>To Do</strong></p>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="float-end">
                            <div id="col-task-status">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <i class="fa fa-bullseye"></i> Asset:
                            <span id="span-asset-name"></span>
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 mt-3" id="col-todo-details">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block extra_scripts %}
<script>

    function getTaskStatusButton(task_id, icon, status){
        let btn = '<button class="btn btn-outline-primary rounded-circle" onclick=changeStatus("';
        btn += task_id + '",' + status;
        btn += ')>' + '<i class="fa ' + icon + '"></i></button>';
        return btn;
    }

    function getStatusIcon(status){
        let icon = "fa-question";
        if (status === "Open"){
            icon = "fa-question"
        } else if (status === "Closed"){
            icon = "fa-check"
        }
        return '<i class="fa ' + icon + '"></i>'
    }


    function getToDos(query){
        let url = "/api/v1/projects/{{ project.pk }}/";
        if (query !== undefined){
            url += "?" + query;
        }
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function(data) {
                var tasks = data["tasks"];
                $('#todo-list').html("");
                $('#col-task-status').html("");
                $('#col-todo-details').html("");
                $('#span-asset-name').html("");
                $.each(tasks, function(k, v){
                    $.ajax({
                        type: "GET",
                        url: "/api/v1/tasks/assets/" + v + "/",
                        dataType: "json",
                        success: function(data2) {
                            console.log(data2);
                            $('#todo-list').append(
                                '<a class="list-group-item list-group-item-action" onclick=showDetails("' + data2.uuid + '")>' +
                                    '<div class="row"><div class="col-sm-12"><div class="clearfix"><div class="float-start">' + 
                                        '<span class="rounded-circle mr-3">' + getStatusIcon(data2.status) + ' </span>' +
                                        data2.task.name + '</div></div></div></div>' +
                                    '<div class="row"><div class="col-sm-12"><div class="clearfix"><div class="float-start">' +
                                    '</div></div></div></div>' +
                                '</a>'
                            );
                            
                        }
                    });
                });
            }
        });
    
    }

    
    function showDetails(task_id){
        $('#todo-details').addClass("d-none");
        $('#span-asset-name').html("");
        $('#col-todo-details').html("");
        $('#col-task-status').html("");
        $.ajax({
            type: "GET",
            url: "/api/v1/tasks/assets/" + task_id + "/",
            dataType: "json",
            success: function(data){
                $('#col-task-status').append(getTaskStatusButton(task_id, "fa-question", 0) + getTaskStatusButton(task_id, "fa-check", 1) );
                $('#col-todo-details').append(data.task.description);
                $('#span-asset-name').append(data.asset.name + " (" + data.asset.asset_type + ")");
                $('#todo-details').removeClass("d-none");
            }
        });
    }

    $('#hide_completed').change(function(){
        let query;
        if($(this).is(":checked")){
            query = "status=open";
        }
        getToDos(query)
    });

    function changeStatus(task_id, status_id){
        $.ajax({
            type: "PATCH",
            url: "/api/v1/tasks/assets/" + task_id + "/",
            dataType: "json",
            data: {"status": status_id},
            success: function(data){
                location.reload()
                // console.log(data)
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
            }
        });
    }

    getToDos();

</script>

{% endblock %}