{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Profile{% endblock %}


{% block content %}
    <div class="container mt-3">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'account:user-profile' request.user.username %}">{{ request.user.username }}'s Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
            </ol>
        </nav>

        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">
                    <h4>Update Profile</h4>
                </div>
                {% crispy form %}
            </div>
        </div>
    </div>

{% endblock %}
