{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static 'css/vulnman/vulnman-dark/pages/auth.css' %}">
    <title>Authenticate | Vulnman</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<div id="auth">
    <div class="row h-100">
        <div class="col-lg-7 d-lg-block">
            <div id="auth-left">
            </div>
        </div>

        <div class="col-lg-5 col-12 h-100 d-flex justify-content-center align-items-center">
            <div id="auth-right" class="w-100">
                <div class="center">
                    <h1 class="auth-title">Log in.</h1>
                    <p class="auth-subtitle mb-5">Log in to your vulnman account.</p>

                    <form action="{% url 'account:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" class="form-control form-control-xl" placeholder="Username" name="username">
                            <div class="form-control-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-xl" placeholder="Password" name="password">
                            <div class="form-control-icon">
                                <i class="fa fa-shield"></i>
                            </div>
                        </div>
                        <div class="form-check form-check-lg d-flex align-items-end">
                            <!--<input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-gray-600" for="flexCheckDefault">
                                Keep me logged in
                            </label>-->
                        </div>
                        <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
                    </form>
                </div>
                <!--
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">Don't have an account? <a href="auth-register.html" class="font-bold">Sign
                        up</a>.</p>
                    <p><a class="font-bold" href="auth-forgot-password.html">Forgot password?</a>.</p>
                </div> -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
