{% extends "account/auth_base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="center">
        <h1 class="auth-title">Reset Password.</h1>

        {% if form.errors %}
            {% for field, error in form.errors.items %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group position-relative has-icon-left mb-4">
                <input type="text" class="form-control form-control-xl" placeholder="E-Mail" name="email" />
                <div class="form-control-icon">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-4">Continue</button>
        </form>
    </div>
    <div class="text-center mt-5 text-lg fs-4">
        <p><a class="font-bold" href="{% url 'account:login' %}">Back To Login</a>.</p>
    </div>
{% endblock content %}