{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}


{% block content %}
    <div class="container mt-3">

        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">
                    <h4>Reset Password</h4>
                </div>
                {% if validlink %}
                    {% crispy form %}
                {% else %}
                    <div class="alert alert-danger">
                        <p>The password reset link was invalid, possibly because it has already been used!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
