{% extends 'base.html' %}

{% block title %}
Hosts
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item active">Hosts</li>
</ol>
{% endblock %}

{% block content %}

    <div class="clearfix">
        <div class="float-end">
            <a class="btn btn-primary" href="{% url 'projects:networking:host-create' %}">
                <i class="fa fa-plus"></i> Create Host
            </a>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered mt-3">
        <thead>
            <tr>
                <th>IP</th>
                <th>Operating System</th>
                <th>Hostnames</th>
                <th>Services</th>
                <th>Findings</th>
                <th>Vulnerabilities</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for host in hosts %}
                <tr>
                    <td><a href="{{ host.get_absolute_url }}">{{ host.ip }}</a></td>
                    <td>{{ host.os }}</td>
                    <td>{{ host.get_hostnames }}</td>
                    <td>{{ host.service_set.count }}</td>
                    <td>{{ host.finding_set.count }}</td>
                    <td>{{ host.vulnerability_set.count }}</td>
                    <td>
                        {% if host.is_online %}
                        <i class="fa fa-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-circle text-danger"></i>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'navigation/pagination.html' %}

{% endblock %}