{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ release.report.get_report_title}}</title>
    <meta name="description" content="{{ release.report.get_report_title }}">

    <style>

        @page {
            @bottom-left {
                font-size: 10px;
                content: "{% trans 'Confidential' %}";
                margin-top: -5px;
            }

            @bottom-center {
                content: "{{ release.report.project.name }}";
                font-size: 10px;
                margin-top: -5px;
            }


        }
    </style>
</head>

<body {% if release.release_type == "draft" %}class="draft"{% endif %}>

    {% include 'report_templates/default/sections/cover.html' %}

    {% include 'report_templates/default/sections/version_history.html' %}

    {% include 'report_templates/default/sections/toc.html' %}


    {% include 'report_templates/default/sections/contacts.html' %}

    {% include 'report_templates/default/sections/intro.html' %}

    {% include 'report_templates/default/sections/scope.html' %}
    {% include 'report_templates/default/sections/vulnerability_overview.html' %}
    {% include 'report_templates/default/sections/mgmt_summary.html' %}
    {% include 'report_templates/default/sections/technical_details.html' %}

</body>
</html>
