{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    {% if request.resolver_match.url_name == "service-update" %}
Update Service
    {% else %}
Create Service
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container mt-3">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'projects:assets:service-list' %}">Services</a>
                </li>
                {% if request.resolver_match.url_name == "service-update" %}
                <li class="breadcrumb-item">
                    <a href="{% url 'projects:assets:service-detail' form.instance.pk %}">{{ form.instance }}</a>
                </li>
                <li class="breadcrumb-item active">Update</li>
                {% else %}
                <li class="breadcrumb-item active">
                    Create
                </li>
                {% endif %}
            </ol>
        </nav>

        <div class="row mb-3">
            <div class="d-flex flex-md-column-reverse align-items-end">
                {% if request.resolver_match.url_name == "service-update" %}
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ service.pk }}">
                    <i class="fa fa-trash"></i>
                </button>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {% if request.resolver_match.url_name == "service-update" %}
                <h4 class="card-title">Update Service</h4>
                {% else %}
                <h4 class="card-title">Create New Service</h4>
                {% endif %}
                <hr/>

                {% crispy form %}
            </div>
        </div>
    </div>

    {% if request.resolver_match.url_name == "service-update" %}
        {% include 'modals/delete_object.html' with obj=form.instance %}
    {% endif %}

{% endblock %}
