@use 'sass:color';
@use 'sass:math';

$blue:    #435ebe;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors-light: (
  'primary': rgba($primary, .6),
  'secondary': rgba($secondary, .6),
  'success': rgba($success, .6),
  'danger': rgba($danger, .6),
  'warning': rgba($warning, .6),
  'info': rgba($info, .6),
);


// Body
$body-bg:                   #151521;
$body-color:                #c2c2d9;


$alert-colors: (
    primary: (
        text-color: #fff,
        background-color: #435ebe
    ),
    secondary: (
        text-color: #383d41,
        background-color: #ebeef3
    ),
    success: (
        text-color: #fff,
        background-color: #4fbe87
    ),
    warning: (
        text-color: #fff,
        background-color: #eaca4a,
    ),
    danger: (
        text-color: #fff,
        background-color: #f3616d,
    ),
    dark: (
        text-color: #fff,
        background-color: #454546,
    ),
    light: (
        text-color: $body-color,
        background-color: #f9f9f9,
    ),
    info: (
        text-color: #fff,
        background-color: #56b6f7,
    ),
);

// Bootstrap Variables

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;


$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;

// Sidebar
$sidebar-bg:                #1e1e2d;
$sidebar-link-color:        #9899ac;
$sidebar-link-hover-bg:         #282839;
$sidebar-link-hover-color:      #fff;
$sidebar-submenu-color:         $sidebar-link-color;
$sidebar-submenu-hover-color:   $white;

// Cards

$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     $spacer !default;
$card-title-spacer-y:               math.div($spacer, 2) !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                .7rem;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                1.5rem !default;
$card-cap-padding-x:                1.5rem !default;
$card-cap-bg:                       white !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;
$card-box-shadow:                   -8px 12px 18px 0 rgba(25,42,70,.13) !default;
$card-title-font-size:              1.2rem !default;
$card-img-overlay-padding:          $spacer !default;
$card-box-shadow:                   -8px 12px 18px 0 rgba(25,42,70,.13);
$card-group-margin:                 math.div($grid-gutter-width, 2) !default;

// Accordion
$accordion-padding-y:                     1rem !default;
$accordion-padding-x:                     1.25rem !default;
$accordion-color:                         $body-color !default;
$accordion-bg:                            transparent !default;
$accordion-border-width:                  $border-width !default;
$accordion-border-color:                  rgba($black, .125) !default;
$accordion-border-radius:                 $border-radius !default;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width) !default;

$accordion-body-padding-y:                $accordion-padding-y !default;
$accordion-body-padding-x:                $accordion-padding-x !default;

$accordion-button-padding-y:              $accordion-padding-y !default;
$accordion-button-padding-x:              $accordion-padding-x !default;
$accordion-button-color:                  $accordion-color !default;
$accordion-button-bg:                     $accordion-bg !default;
$accordion-transition:                    $btn-transition, border-radius .15s ease !default;
$accordion-button-active-bg:              tint-color($component-active-bg, 90%) !default;
$accordion-button-active-color:           shade-color($primary, 10%) !default;

$accordion-button-focus-border-color:     $input-focus-border-color !default;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow !default;

$accordion-icon-width:                    1.25rem !default;
$accordion-icon-color:                    $accordion-color !default;
$accordion-icon-active-color:             $accordion-button-active-color !default;
$accordion-icon-transition:               transform .2s ease-in-out !default;
$accordion-icon-transform:                rotate(180deg) !default;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;


// List group
$list-group-bg:                     $sidebar-bg;
$list-group-color:                  #afb0be;
$list-group-border-color:           rgba($gray-400, .100);
$list-group-border-width:           $border-width !default;
$list-group-border-radius:          $border-radius !default;

$list-group-item-padding-y:         math.div($spacer, 2) !default;
$list-group-item-padding-x:         $spacer !default;
$list-group-item-bg-scale:          -80% !default;
$list-group-item-color-scale:       40% !default;
$list-group-hover-bg:               $sidebar-link-hover-bg;
$list-group-active-color:           $component-active-color !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $gray-600 !default;
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $gray-200 !default;
$list-group-action-color:           $gray-700;
$list-group-action-active-bg:       lighten($list-group-bg, 10%);
$list-group-action-hover-color:     $list-group-color;

$list-group-active-color:           $white;
$list-group-active-bg:              #435ebe;
$list-group-active-border-color:    $list-group-active-bg;
$list-group-disabled-color:         $black;


// Pages
$page-auth-bg:          #151521;
$page-auth-left-bg:    linear-gradient(90deg, $sidebar-bg, $sidebar-bg);
$page-error-bg:         $body-bg;


$link-color:                              $primary;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage);


$headings-color:              #fff;
$text-muted:                  #7c8db5;
$mark-bg:                     #fcf8e3;

// Table
// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-cell-padding-y:        .5rem !default;
$table-cell-padding-x:        .5rem !default;
$table-cell-padding-y-sm:     .25rem !default;
$table-cell-padding-x-sm:     .25rem !default;

$table-cell-vertical-align:   top !default;

$table-color:                 $body-color;
$table-bg:                    transparent !default;
$table-accent-bg:             transparent !default;

$table-th-font-weight:        null !default;

$table-striped-color:         $table-color;
$table-striped-bg-factor:     .05;
$table-striped-bg:            rgba($black, $table-striped-bg-factor);

$table-active-color:          $table-color !default;
$table-active-bg-factor:      .1 !default;
$table-active-bg:             rgba($black, $table-active-bg-factor);

$table-hover-color:           $white;
$table-hover-bg-factor:       .075 !default;
$table-hover-bg:              rgba($white, $table-hover-bg-factor);

$table-border-factor:         .1 !default;
$table-border-width:          $border-width !default;
$table-border-color:          rgb(63, 63, 63);

$table-striped-order:         odd !default;

$table-group-separator-color: #707070;

$table-caption-color:         $text-muted !default;

$table-bg-scale:              -80% !default;

$table-variants: (
  "primary":    shift-color($primary, $table-bg-scale),
  "secondary":  shift-color($secondary, $table-bg-scale),
  "success":    shift-color($success, $table-bg-scale),
  "info":       shift-color($info, $table-bg-scale),
  "warning":    shift-color($warning, $table-bg-scale),
  "danger":     shift-color($danger, $table-bg-scale),
  "light":      $light,
  "dark":       $dark,
);


$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125);
$btn-link-color:              $link-color;
$btn-link-hover-color:        $link-hover-color;
$btn-link-disabled-color:     $gray-600;

$divider-bg:    $gray-800;
$divider-text-bg: $body-bg;

// Forms and Inputs
$input-bg:                              #1b1b29;
$input-btn-focus-color                  : $primary;
$input-disabled-bg:                     #40404d;
$input-disabled-border-color:           null !default;
$input-placeholder-color:               $gray-500;
$input-plaintext-color:                 $body-color;
$input-color:                           $body-color;
$input-border-color:                    #35354f;

$input-focus-bg:                        $input-bg ;
$input-focus-border-color:              #171723;
$input-focus-color:                     $input-color;

$input-group-addon-color:               #526e8a ;
$input-group-addon-bg:                  lighten($input-bg, 5%);
$input-group-addon-border-color:        $input-border-color;

$form-check-input-bg:               #20202d;
$form-check-input-border:           3px solid #393b42;
$form-label-color:                  $body-color;
$form-switch-color:                 $component-active-color;
$form-switch-bg-image:              url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") ;
$form-select-color:                 $input-color;
$form-select-border-color:          $input-border-color;
$form-select-disabled-bg:           $input-disabled-bg;
$form-select-bg:                    $input-bg;
$form-select-disabled-bg:           $input-disabled-bg;
$form-range-track-bg:               $gray-300;
$form-range-thumb-disabled-bg:             $gray-500;
$form-textarea-title-bg:             lighten($input-bg,10%);

// Navs
$nav-link-disabled-color:           $gray-600;
$nav-tabs-border-color:             $gray-300;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;

// Dropdowns
$dropdown-color:                    #92929F;
$dropdown-bg:                       #161b22;
$dropdown-border-color:             rgba($black, .15);
$dropdown-divider-bg:               rgb(189, 199, 209);
$dropdown-box-shadow:               1px 4px 15px #f4f5f9;
$dropdown-link-color:               $dropdown-color;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            tint-color($dropdown-bg, 5%);
$dropdown-link-disabled-color:      $gray-600;
$dropdown-header-color:             $gray-600;
$dropdown-dark-color:               $gray-300;
$dropdown-dark-bg:                  $gray-800;
$dropdown-dark-link-hover-color:    $white;
$dropdown-dark-link-hover-bg:       rgba($white, .15);
$dropdown-dark-link-disabled-color: $gray-500;
$dropdown-dark-header-color:        $gray-500;

$pagination-color:                  #92929F;
$pagination-border-color:           transparent;
$pagination-bg:                     $body-bg;
$pagination-border-color:           $body-bg;
$pagination-focus-bg:               #212E48;
$pagination-hover-color:            $white;
$pagination-hover-bg:               tint-color($body-bg, 5%);
$pagination-hover-border-color:     $body-bg;
$pagination-focus-box-shadow:       none;
$pagination-disabled-color:         $gray-600;
$pagination-disabled-bg:            $black;
$pagination-disabled-border-color:  $black;
$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              #3699FF !default;
$pagination-active-border-color:    #3699FF !default;

$card-border-color:                 rgba($black, .125);
$card-bg:                           #1e1e2d;
$card-cap-bg:                       #1e1e2d;

$accordion-color:                         $body-color;
$accordion-bg:                            transparent;
$accordion-border-color:                  rgba($black, .125);
$accordion-icon-color:  $sidebar-link-color;
$accordion-icon-active-color: $sidebar-link-color;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

$tooltip-bg:                        $black;

$popover-bg:                        $white;
$popover-border-color:              rgba($black, .2);

$toast-background-color:            rgba($white, .85);
$toast-border-color:                rgba(0, 0, 0, .1);
$toast-header-color:                $gray-600;
$toast-header-background-color:     rgba($white, .85);
$toast-header-border-color:         rgba(0, 0, 0, .05);

$badge-color:                       $white;
$border-color:                      $gray-400 !default;

$modal-content-bg:                  $card-bg;
$modal-content-border-color:        rgba($black, .2);
$modal-backdrop-bg:                 $black;
$modal-header-border-color:         $border-color;
$modal-footer-border-color:         $modal-header-border-color;

$progress-bar-color:                $white;
$progress-bar-bg:                   $primary;


$thumbnail-border-color:            $gray-300;
$figure-caption-color:              $gray-600;

$breadcrumb-divider-color:          $gray-600;
$breadcrumb-active-color:           $gray-600;

$carousel-control-color:             $white;
$carousel-indicator-active-bg:       $white;
$carousel-caption-color:             $white;
$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;

$btn-close-color:                   $black;
$code-color:                        $pink;
$kbd-color:                         $white;
$kbd-bg:                            $gray-900;
$pre-color:                         null;

// Layout Horizontal
$horizontal-header-bg: #171722;
$horizontal-navbar-bg: #1a1a2d;
$horizontal-submenu-bg: #1E1E2D;
$horizontal-submenu-link-color: #9899ac;
$horizontal-submenu-link-hover-bg: #1b1b28;
$horizontal-submenu-link-hover-color: #187de4;
$horizontal-submenu-shadow-color: rgba(27, 27, 27, 0.1);


// Select2
$s2bs5-item-hover-bg:            $list-group-hover-bg;
$s2bs5-item-focus-bg:            $list-group-bg;
