{% load widget_tweaks %}

<div class="card">
    <div class="card-body">
        {% if method %}
            {% if not without_form_tag %}
<form method="{{ method }}" {% if enctype %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
                {% endif %}
{% else %}
            {% if not without_form_tag %}
<form method="get">
                {% endif %}
{% endif %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      {% include 'forms/field.html' %}
    {% endfor %}

    <div class="form-group mt-3">
        <div class="clearfix">
            <button type="submit" class="btn btn-success form-control">
                {% if submit_text %}
                    {{ submit_text }}
                {% else %}
                    Submit
                {% endif %}
            </button>
        </div>
    </div>
    {% if not without_form_tag %}
  </form>
    {% endif %}
    </div>
</div>
