<!-- Formset Modal -->
<div class="modal fade" id="formset-modal-{{ title|slugify }}" tabindex="-1" aria-labelledby="formset-modal-{{ title|slugify }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'forms/formset.html' %}
            </div>
        </div>
    </div>
</div>


