{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load vulnmantags %}

{% block title %}
    Web Applications
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row d-flex">
            <div class="d-flex flex-column col-sm-12 col-md-7">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Web Applications</li>
                    </ol>
                </nav>
            </div>
            {% if perms.projects.change_project %}
                <div class="d-flex flex-column-reverse col-md-5 col-sm-12 align-items-end justify-content-end">
                    <div class="d-inline">
                        <a class="btn btn-primary" href="{% url 'projects:assets:webapp-create' %}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if not webapps %}
            <div class="card mt-3">
                <div class="card-body">
                    {% show_blankslate %}
                </div>
            </div>
        {% else %}
        <table class="table table-hover table-striped mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Base URL</th>
                </tr>
            </thead>
            <tbody>
                {% for webapp in webapps %}
                    <tr>
                        <td><a href="{% url 'projects:assets:webapp-detail' webapp.pk %}">{{ webapp.name }}</a></td>
                        <td>{{ webapp.base_url }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    {% include "core/components/navigation/pagination.html" %}
{% endblock content %}
