<article id="scope" class="chapter">
    <h1 class="chapter-title" id="scope-title">Scope</h1>
</article>

<article>
    The scope contains the following assets:
    <br/>
    <table>
        {% for asset in project.get_assets %}
            <tr>
                <th>[{{ asset.ASSET_TYPE_CHOICE.1 }}] {{ asset.name }}</th>
            </tr>
            <tr>
                {% if asset.description %}
                    <td>{{ asset.description}}</td>
                {% else %}
                    <td><small><i>No description provided.</i></small></td>
                {% endif %}
            <tr>
        {% endfor %}
    </table>
</article>