.navbar {
  height: $navbar-height;
  padding-left: 0;
  background-color: $body-bg;

  .navbar-nav {
    background-color: $body-bg;

    li {
      padding: 10px;
    }
  }

  .navbar-brand-title {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: $navbar-dark-color;
  }

  .user-menu img {
    width: 39px;
    height: 39px
  }

  .nav-link {
    color: $sidebar-link-color;
          border-radius: .5rem;

    &:hover {
      background-color: $sidebar-link-hover-bg;
    }
  }

  &.navbar-header {
    li {
      display: flex;
      align-items: center;

      &.nav-icon {
        margin-right: .4rem;

        .nav-link {
          display: block;
          padding: .4rem;
          border-radius: 50%;

          &:hover {
            background-color: $gray-200;
          }
        }
      }
    }

    .dropdown > a {
      color: $gray-600;
      font-weight: 600;

      svg {
        height: 24px;
        width: 24px;
      }

      &:after {
        display: none;
      }
    }
  }
}

