{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'css/vulnman/vulnman-bootstrap.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'vendor/fontawesome/all.min.css' %}" />
{% if custom_css_file %}
<link rel="stylesheet" href="{{ custom_css_file }}">
{% endif %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="shortcut icon" type="image/svg" href="{% static 'images/logo-icon.svg' %}"/>