{% extends 'base.html' %}


{% block title %}
    Agents
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Agents</li>
</ol>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="float-end">
            <a class="btn btn-primary" href="{% url 'agents:agent-create' %}">
                <i class="fa fa-plus"></i> New Agent
            </a>
        </div>
    </div>

    <table class="table-bordered table table-hover table-striped mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for agent in agents %}
                <tr>
                    <td>{{ agent.name }}</td>
                    <td>{{ agent.key }}</td>
                    <td>{{ agent.created }}</td>
                    <td>{% include 'components/actions_dropdown.html' with obj=agent btn_small=1 hide_edit=True %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'navigation/pagination.html' %}
{% endblock %}
