{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock title %}| Vulnman</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        {% if not hide_navbar %}
            {% include 'core/components/navigation/topnav.html' %}
        {% endif %}
    </div>



    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        {% if project %}
            {% include 'core/components/navigation/sidebar.html' %}
        {% else %}
            <div id="sidebar-wrapper" style="width: 0;"></div>
        {% endif %}

        <!-- Content -->
        <div id="page-content-wrapper">

            <!-- Page Content -->
            <div class="container-fluid">
                <div class="mt-4">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% include 'message.html' %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content %}
                {% endblock content %}
                </div>
            </div>
        </div>
    </div>

<!-- Scripts -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% include 'navigation/sidebar/sidebar.js.html' %}

{% block extra_scripts %}
{% endblock extra_scripts %}
</body>
</html>
