<aside id="sidebar" class="sidebar break-point-lg">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <span style="text-transform: uppercase;font-size: 15px;letter-spacing: 3px;font-weight: bold;">{{ project.name|truncatechars:64 }}</span>
        </div>
        <div class="sidebar-content">
            <nav class="menu open-current-submenu">
                <ul>
                    <li class="menu-item ">
                        <a href="{% url 'projects:project-detail' project.pk %}">
                            <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="menu-title">Dashboard</span>
                            <!--<span class="menu-suffix">&#x1F525;</span>-->
                        </a>
                    </li>

                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon"><i class="fa fa-bug"></i></span>
                            <span class="menu-title">Vulnerabilities</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="{% url 'projects:findings:vulnerability-list' %}">
                                        <span class="menu-title">All</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Latest</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Fixed</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon"><i class="fa fa-tasks"></i></span>
                            <span class="menu-title">Checklists</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">All</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Open</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">To Review</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon"><i class="fa fa-crosshairs"></i></span>
                            <span class="menu-title">Assets</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="{% url 'projects:assets:host-list' %}">
                                        <span class="menu-title">Hosts</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'projects:assets:service-list' %}">
                                        <span class="menu-title">Services</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'projects:assets:webapp-list' %}">
                                        <span class="menu-title">Web Applications</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'projects:assets:thick-client-list' %}">
                                        <span class="menu-title">Thick clients</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon"><i class="fa fa-people-roof"></i></span>
                            <span class="menu-title">Management</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="{% url 'projects:contributor-list' %}">
                                        <span class="menu-title">Contributors</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'projects:token-list' %}">
                                        <span class="menu-title">API-Tokens</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'projects:file-list' %}"><span class="menu-title">Files</span></a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'projects:findings:user-account-list' %}">
                                        <span class="menu-title">User Accounts</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="{% url 'projects:reporting:report-list' %}">
                            <span class="menu-icon"><i class="fa fa-file-shield"></i></span>
                            <span class="menu-title">Reports</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-footer">
            <span><a id="btn-collapse" class="text-muted" href="#">
            <i class="fa fa-angles-left"></i> Collapse
          </a></span></div>
    </div>
</aside>

<div id="overlay" class="overlay"></div>
