{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ client.name }}
{% endblock %}


{% block content %}
    <h3 class="text-center">{{ client.name }}</h3>
    <hr/>
    <div class="container mt-3">
        <div class="clearfix">
            <div class="float-end">
                <a class="btn btn-outline-warning" href="#"><i class="fa fa-edit"></i></a>
                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ client.pk }}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12 col-md-4">
                {% include 'components/cards/simple_text_card.html' with label="Name" text=client.name %}
            </div>
            <div class="col-sm-12 col-md-4">
                {% include 'components/cards/simple_text_card.html' with label="Street" text=client.street %}
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-start">
                                <p class="card-text"><strong>City</strong></p>
                            </div>
                            <div class="float-end">
                                <p class="card-text">{{ client.zip }} {{ client.city }}, {{ client.country }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-12">
                <h3>Contacts</h3>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-Mail</th>
                            <th>Phone</th>
                            <th>Position</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in client.clientcontact_set.all %}
                            <tr>
                                <td>{{ contact.first_name }} {{ contact.last_name }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.phone }}</td>
                                <td>{{ contact.position }}</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-warning" href="{{ contact.get_absolute_update_url }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ contact.pk }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% include 'modals/delete_object.html' with obj=contact %}

                        {% endfor %}
                    </tbody>
                </table>
                {% include 'modals/delete_object.html' with obj=client %}

            </div>
        </div>
    </div>
{% endblock %}
