{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}

{% block title %}
    Contributors
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for project as "project_perms" %}
    <div class="container mt-3">
        <div class="row d-flex">
            <div class="d-flex flex-column col-sm-12 col-md-7">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Contributors</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex flex-column-reverse col-md-5 col-sm-12 align-items-end justify-content-end">
                <div class="d-inline">
                    {% if "add_contributor" in project_perms %}
                        {% url 'projects:contributor-create' as create_url %}
                        {% include 'core/components/buttons/create_obj.html' with url=create_url text="New Contributor" %}
                    {% endif %}
                </div>
            </div>
        </div>

        <ul class="list-group mt-3">
            {% get_obj_perms request.user for project as "project_perms" %}
            {% for contributor in contributors %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="float-start">
                                {% if contributor.confirmed %}
                                    {{ contributor.user.username}}
                                {% else %}
                                    {{ contributor.invite_email|truncatechars:12 }} <span class="badge badge-pill">Confirmation Pending</span>
                                {% endif %}
                            </div>
                            <div class="float-end">
                                {% if "add_contributor" in project_perms %}
                                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ contributor.pk }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small>Role: {{ contributor.get_role_display }}</small>
                        </div>
                    </div>
                </li>
                {% include 'modals/delete_object.html' with obj=contributor %}
            {% empty %}
                <li class="list-group-item">
                    No Contributors
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
