{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contributors
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
        <li class="breadcrumb-item active">{{ project.name }}</li>
        <li class="breadcrumb-item active">Contributors</li>
    </ol>
{% endblock %}

{% block content %}
    <h3 class="text-center">Contributors</h3>
    <hr/>
    <div class="clearfix">
        <div class="float-end">
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">
                <i class="fa fa-plus"></i> Add Contributor
            </a>
        </div>
    </div>


    <ul class="list-group mt-3">
        {% for contributor in contributors %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="float-start">
                            {{ contributor.user.username}}
                        </div>
                        <div class="float-end">
                            <button class="btn btn-outline-primary" onclick="removeContributor('{{contributor.pk}}')"><i class="fa fa-trash"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <small>Role: {{ contributor.get_role_display }}</small>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>


    <!-- Create Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="create-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-modal-label">Add Contributor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-contributor-form">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username">
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="role" aria-label="role">
                              <option value="pentester">Pentester</option>
                            </select>
                            <label for="role">Role</label>
                        </div>
                        <button class="form-control btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
<script>
    $('#add-contributor-form').submit(function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/api/v1/projects/contributors/",
            dataType: "json",
            data: {"role": $('#role option:selected').val(), "user": $('#username').val(), "project": "{{ project.pk }}"},
            success: function(data){
                location.reload()
                // console.log(data)
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
            }
        });
    });

    function removeContributor(contrib_id){
        $.ajax({
            type: "DELETE",
            url: "/api/v1/projects/contributors/" + contrib_id + "/",
            dataType: "json",
            data: {},
            success: function(data){
                location.reload()
                // console.log(data)
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
            }
        });
    }
</script>
{% endblock %}