{% extends 'base.html' %}
{% load guardian_tags %}
{% load vulnmantags %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Projects</li>
            </ol>
        </nav>

        {% include 'projects/components/project_list_searchbar.html' %}

        <div class="card mt-3">
            <div class="card-header border-bottom">
                <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex">
                        <!-- Status buttons -->
                        <a class="btn p-2" href="?{{ request.session.project_filters|unique_url_params:'status|0' }}">
                            <i class="fa fa-circle-dot"></i>{% if not open_status_count %}0{% else %}{{ open_status_count }}{% endif %} Open

                        </a>
                        <a class="btn p-2" href="?{{ request.session.project_filters|unique_url_params:'status|1' }}">
                            <i class="fa fa-check"></i> {% if not closed_status_count %}0{% else %}
                            {{ closed_status_count }}{% endif %} Closed
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6 d-flex flex-column-reverse align-items-end">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdown-menu-sort"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Sort
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-menu-sort">
                                <li><a class="dropdown-item" href="?{{ request.session.project_filters|unique_url_params:'sort|recently_updated' }}">Recently Updated</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush">
                {% for project in projects %}
                   {% include 'projects/components/project_list_project_list_item.html' %}
                {% empty %}
                    {% include 'projects/components/project_list_blankslate.html' %}
                {% endfor %}
            </div>
        </div>
        {% include 'core/components/navigation/pagination.html' %}
    </div>

{% endblock %}