{% extends 'base.html' %}
{% load guardian_tags %}

{% block title %}
Projects
{% endblock %}

{% block content %}
    <h3 class="text-center">Projects</h3>
    <hr/>
    <div class="container mt-3">
        <div class="clearfix">
            <div class="float-end">
                {% if show_archived %}
                    <a class="btn btn-outline-info" href="{% url 'projects:project-list' %}" data-toggle="tooltip" title="Show all projects!">
                        <i class="fa fa-list-alt"></i>
                    </a>
                {% else %}
                    <a class="btn btn-outline-info" href="{% url 'projects:project-list' %}?archived=1" data-toggle="tooltip" title="Show archived projects!">
                        <i class="fa fa-archive"></i>
                    </a>
                {% endif %}
                {% if perms.projects.add_project %}
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-modal">
                        <i class="fa fa-plus"></i>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="list-group mt-3">
            {% for project in projects %}
                <a class="list-group-item list-group-item-action" href="{% url 'projects:project-detail' project.pk %}">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="clearfix">
                                <div class="float-start">
                                    <p>{{ project }} ({{project.client}})</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="clearfix">
                                <div class="float-start">
                                    <small class="text-muted"><i>Last updated: {{ project.date_updated|timesince }} ago</i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% empty %}
                <li class="list-group-item">No projects here!</li>
            {% endfor %}
        </div>

        {% include 'components/modals/form.html' with title="Create Project" form=create_project_form %}

        {% include 'navigation/pagination.html' %}
    </div>
{% endblock %}