{% extends 'base.html' %}

{% block title %}
Update Project
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>
{% endblock %}

{% block content %}
    <div class="mt-3">
        {% include 'forms/formset.html' with method="POST" %}
    </div>
{% endblock %}

{% block extra_scripts %}
    {% include 'forms/dynamic_formset.html' with single_inline=proofs %}
{% endblock  %}