<!-- Source: https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/dist/index.html -->
<div class="border-end border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading">
        VULNMAN
    </div>


    <div class="accordion m-0 p-0 w-100" id="sidebar-menu">
        {% with label="Pentest" icon="fa fa-shield" %}
            <!-- Sidebar Menu Item: {{ label }} -->
            <div class="accordion-item">
                <h2 class="sidebar-menu-{{label|lower|slugify}}-heading" id="sidebar-menu-{{label|lower|slugify}}">
                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="sidebar-menu-button-{{label|lower|slugify}}"
                        data-bs-target="#collapse-menu-{{label|lower|slugify}}" aria-expanded="true" aria-controls="collapse-menu-{{label|lower|slugify}}">
                        <i class="{{icon}} d-inline-block" style="margin-right: 1em !important"></i>
                            <span class="sidebar-label"> {{ label }}</span>
                    </a>
                </h2>

                <div id="collapse-menu-{{label|lower|slugify}}" class="accordion-collapse collapse"
                    aria-labelledby="sidebar-menu-{{label|lower|slugify}}-heading" data-bs-parent="#sidebar-menu">
                    <div class="accordion-body m-0 p-0">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:project-detail' project.pk %}">
                                <span>Project</span>
                            </a>
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:findings:vulnerability-list' %}">
                                <span>Vulnerabilities</span>
                            </a>
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:methodologies:project-task-list' %}">
                                <span>To Dos</span>
                            </a>
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:findings:user-account-list' %}">
                                <span>User Accounts</span>
                            </a>
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:token-list' %}">
                                <span>Tokens</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}


        {% with label="Assets" icon="fa fa-server" %}
            <!-- Sidebar Menu Item: {{ label }} -->
            <div class="accordion-item">
                <h2 class="sidebar-menu-{{label|lower|slugify}}-heading" id="sidebar-menu-{{label|lower|slugify}}">
                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="sidebar-menu-button-{{label|lower|slugify}}"
                        data-bs-target="#collapse-menu-{{label|lower|slugify}}" aria-expanded="true" aria-controls="collapse-menu-{{label|lower|slugify}}">
                        <i class="{{icon}} d-inline-block" style="margin-right: 1em !important"></i>
                            <span class="sidebar-label"> {{ label }}</span>
                    </a>
                </h2>
                <div id="collapse-menu-{{label|lower|slugify}}" class="accordion-collapse collapse" 
                    aria-labelledby="sidebar-menu-{{label|lower|slugify}}-heading" data-bs-parent="#sidebar-menu">
                    <div class="accordion-body m-0 p-0">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:assets:host-list' %}">
                                <span>Hosts</span>
                            </a>
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:assets:service-list' %}">
                                <span>Services</span>
                            </a>
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:assets:webapp-list' %}">
                                <span>Web Applications</span>
                            </a>
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:assets:webrequest-list' %}">
                                <span>Web Requests</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}

        {% with label="Management" icon="fa fa-columns" %}
            <!-- Sidebar Menu Item: {{ label }} -->
            <div class="accordion-item">
                <h2 class="sidebar-menu-{{label|lower|slugify}}-heading" id="sidebar-menu-{{label|lower|slugify}}">
                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="sidebar-menu-button-{{label|lower|slugify}}"
                        data-bs-target="#collapse-menu-{{label|lower|slugify}}" aria-expanded="true" aria-controls="collapse-menu-{{label|lower|slugify}}">
                        <i class="{{icon}} d-inline-block" style="margin-right: 1em !important"></i>
                            <span class="sidebar-label"> {{ label }}</span>
                    </a>
                </h2>
                <div id="collapse-menu-{{label|lower|slugify}}" class="accordion-collapse collapse" 
                    aria-labelledby="sidebar-menu-{{label|lower|slugify}}-heading" data-bs-parent="#sidebar-menu">
                    <div class="accordion-body m-0 p-0">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:contributor-list' project.pk %}">
                                <span>Contributors</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}

        {% with label="Reporting" icon="fa fa-file" %}
            <!-- Sidebar Menu Item: {{ label }} -->
            <div class="accordion-item">
                <h2 class="sidebar-menu-{{label|lower|slugify}}-heading" id="sidebar-menu-{{label|lower|slugify}}">
                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="sidebar-menu-button-{{label|lower|slugify}}"
                        data-bs-target="#collapse-menu-{{label|lower|slugify}}" aria-expanded="true" aria-controls="collapse-menu-{{label|lower|slugify}}">
                            <i class="{{icon}} d-inline-block" style="margin-right: 1em !important"></i>
                                <span class="sidebar-label"> {{ label }}</span>
                    </a>
                </h2>
                <div id="collapse-menu-{{label|lower|slugify}}" class="accordion-collapse collapse" 
                    aria-labelledby="sidebar-menu-{{label|lower|slugify}}-heading" data-bs-parent="#sidebar-menu">
                    <div class="accordion-body m-0 p-0">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item p-3" href="{% url 'projects:reporting:report-list' %}">
                                <span>Report</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}

    </div>
</div>
<!-- END SIDEBAR -->
