{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Reports
{% endblock title %}

{% block content %}
    <div class="container mt-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'projects:reporting:report-list' %}">Reports</a></li>
                <li class="breadcrumb-item active">{{ report.name }}</li>
            </ol>
        </nav>

        {% include 'reporting/components/sub_nav.html' %}

        {% if report_mgmt_summary_form %}
            <p class="mt-3"><strong>Language: </strong>{{ report.get_language_display }}</p>
            <p class="mt-3"><strong>Author: </strong>{{ report.author }}</p>
            <div class="mt-3">
                {% crispy report_mgmt_summary_form %}
            </div>
        {% endif %}
    </div>
{% endblock content %}


{% block extra_scripts %}
<script>

id_evaluation.on("blur", function(){
    $.ajax({
        type: "PATCH",
        url: "/api/v1/reports/{{report.pk}}/",
        dataType: "json",
        data: {"evaluation": id_evaluation.getValue()},
        success: function(data){
            //location.reload()
            // console.log(data)
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
        }
    });
});

id_recommendation.on("blur", function(){
    $.ajax({
        type: "PATCH",
        url: "/api/v1/report-information/{{report.pk}}/",
        dataType: "json",
        data: {"recommendation": id_recommendation.getValue()},
        success: function(data){
            //location.reload()
            // console.log(data)
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
        }
    });
});
</script>
{% endblock extra_scripts %}