{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Update Report Release
{% endblock %}

{% block content %}
    <div class="container mt-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'projects:reporting:report-list' %}">Reports</a></li>
                <li class="breadcrumb-item"><a href="{% url 'projects:reporting:report-release-list' form.instance.report.pk %}">Releases</a></li>
                <li class="breadcrumb-item active">Update</li>
            </ol>
        </nav>

        <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ form.instance.pk }}">
            <i class="fa fa-trash"></i>
        </a>

        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-title">
                    Update Report Release
                </h4>
                <hr/>
                {% crispy form %}
            </div>
        </div>
    </div>

    {% include 'modals/delete_object.html' with obj=form.instance %}

{% endblock %}
