{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Create Report
{% endblock %}

{% block content %}
    <div class="container mt-3">

        <div class="row mb-3">
            <div class="d-flex flex-md-column-reverse align-items-end">
                {% if request.resolver_match.url_name == "vulnerability-update" %}
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ proof.pk }}">
                    <i class="fa fa-trash"></i>
                </button>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {% if request.resolver_match.url_name == "vulnerability-update" %}
                <h4 class="card-title">Update Vulnerability</h4>
                {% else %}
                <h4 class="card-title">Create New Report</h4>
                {% endif %}
                <hr/>

                {% crispy form %}
            </div>
        </div>
    </div>

    {% if request.resolver_match.url_name == "vulnerability-update" %}
        {% include 'modals/delete_object.html' with obj=form.instance %}
    {% endif %}

{% endblock %}
