{% extends 'base.html' %}

{% block title %}
Update Report
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:reporting:report-list' %}">Reports</a></li>
    <li class="breadcrumb-item active">{{ report }}</li>
</ol>
{% endblock %}

{% block content %}
    {% include 'forms/simple.html' with method="POST" %}
{% endblock %}
