{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Reports
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <p><strong>Draft Report</strong></p>
                </div>
                <div class="row">
                    {% if project.get_draft_report %}
                        <small><i id="report-status-info">Updated at {{ project.get_draft_report.date_updated|date:'Y-M-d H:m:i' }}</i></small>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="clearfix">
                        <div class="float-end">
                            <button class="btn btn-primary" onclick="createDraftReport()" id="report-draft-create-btn"><i class="fa fa-file"></i> Create Draft</button>
                            {% csrf_token %}
                            {% if project.get_draft_report %}
                                <a class="btn btn-primary" target="_blank" href="{% url 'projects:reporting:report-download' project.get_draft_report.pk %}" rel="noopener noreferrer">
                                    <i class="fa fa-download"></i> Download
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="row">

                    <div class="clearfix">
                        <div class="float-start">
                            <h4>Pentest Reports</h4>

                        </div>
                        <div class="float-end">
                            <button id="create-report-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#report-create-modal">
                                <i class="fa fa-file"></i>
                                <span id="create-report-button-spin"></span>Create Report
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="list-group mt-3">
                    {% for report in reports %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="float-start">
                                        <h4>{{ report.name }}</h4>
                                    </div>
                                    <div class="float-end">
                                        <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ report.pk }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-primary" target="_blank" href="{% url 'projects:reporting:report-download' report.pk %}" rel="noopener noreferrer">
                                            <i class="fa fa-download"></i> Download
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <i>Created: {{ report.date_created | date }}</i>
                                </div>
                            </div>
                        </div>
                        {% include 'modals/delete_object.html' with obj=report%}

                    {% empty %}
                        <div class="list-group-item">
                            No pentest reports yet!
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-sm-12">
                <h3>Management Summary</h3>
                <hr/>
                {% if report_mgmt_summary_form %}
                    {% crispy report_mgmt_summary_form %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="modal fade" id="report-create-modal" tabindex="-1" aria-labelledby="report-create-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="webapp-create-modal-label">Create Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy report_create_form %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
<script>
id_evaluation.on("blur", function(){
    $.ajax({
        type: "PATCH",
        url: "/api/v1/report-information/{{project.reportinformation.pk}}/",
        dataType: "json",
        data: {"evaluation": id_evaluation.getValue()},
        success: function(data){
            //location.reload()
            // console.log(data)
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
        }
    });
});
id_recommendation.on("blur", function(){
    $.ajax({
        type: "PATCH",
        url: "/api/v1/report-information/{{project.reportinformation.pk}}/",
        dataType: "json",
        data: {"recommendation": id_recommendation.getValue()},
        success: function(data){
            //location.reload()
            // console.log(data)
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
        }
    });
});

$('#submit-id-submit').click(function(event){
    $('#report-create-modal').modal('hide');
    var report_type = $("#id_report_type option").filter(":selected").val();
    var name = $('#id_name').val();
    $.ajax({
        type: "POST",
        url: "{% url 'api:v1:report-create-report' %}",
        dataType: "json",
        data: {"project": "{{project.pk}}", "report_type": report_type, "name": name},
        success: function(data){
            $('#create-report-button-spin').addClass("spinner-border spinner-border-sm");
            $('#create-report-button').attr("disabled", "disabled")
            setInterval(function(){
                checkTaskStatus(data.task_id)
            }, 5 * 1000);
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
        }
    })
});


function createDraftReport(){
    $.ajax({
        type: "POST",
        url: "{% url 'api:v1:report-create-report' %}",
        dataType: "json",
        data: {"project": "{{project.pk}}", "report_type": "draft", "name":""},
        success: function(data){
            $('#report-status-info').html("");
            $('#report-status-info').html('<div class="spinner-border spinner-border-sm" role="status"></div>')
            $('#report-draft-create-btn').attr("disabled", "disabled")
            setInterval(function(){
                checkTaskStatus(data.task_id)
            }, 5 * 1000);
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
        }
    })
}

function checkTaskStatus(task_id){
    $.ajax({
        type: "GET",
        url: "/api/v1/reports/tasks/" + task_id + "/",
        dataType: "json",
        success: function(data){
            if (data.status === "SUCCESS"){
                location.reload();
            }
        }
    });
}


</script>
{% endblock extra_scripts %}