<div class="row mb-3">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix card-text">
                    <p class="float-start"><strong>Asset:</strong></p>
                    <div class="float-end">
                        <p><a href="{{ vuln.asset.get_absolute_url }}"> {{ vuln.asset }}
                            ({{ vuln.asset.asset_type }})</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix card-text">
                    <p class="float-start"><strong>Requires Authentication:</strong></p>
                    <div class="float-end">
                        {% if vuln.user_account %}
                            <p>{{ vuln.user_account }}</p>
                        {% else %}
                            <i class="fa fa-times-circle-o"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix card-text">
                    <p class="float-start"><strong>Status:</strong></p>
                    <p class="float-end">{{ vuln.get_status_display }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix card-text">
                    <p class="float-start"><strong>CVE-ID:</strong></p>
                    <div class="float-end">
                        {% if vuln.template.cve_id %}
                            <p>{{ vuln.template.cve_id }}
                                {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix card-text">
                    <p class="float-start"><strong>Template:</strong></p>
                    <div class="float-end">
                        <a href="" data-bs-toggle="modal" data-bs-target="#template-details-modal">
                            {{ vuln.template.vulnerability_id }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body" data-bs-toggle="modal" data-bs-target="#cvss-update-modal">
                <div class="clearfix card-text">
                    {% if vuln.cvss_get_base_score %}
                        <p>{{ vuln.cvss_get_vector_string }} ({{ vuln.cvss_get_base_score }})</p>
                    {% else %}
                        <p class="float-start"><strong>CVSS:</strong></p>
                        <p class="float-end">-</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>