{% load vulnmantags %}

<div class="row mb-3">
    <div class="col-sm-12 col-md-4">
        {% include 'components/cards/card_with_information.html' with icon="fa-crosshairs" title="Asset" value=vuln.asset|get_asset_link %}
    </div>
    <div class="col-sm-12 col-md-4">
        {% if vuln.user_account %}
            {% include 'components/cards/card_with_information.html' with icon="fa-user-tie" title="Tested Account" value=vuln.user_account %}
        {% else %}
            {% include 'components/cards/card_with_information.html' with icon="fa-user-tie" title="Tested Account" value="-" %}
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-4">
        {% if vuln.date_retested %}
            {% include 'components/cards/card_with_information.html' with icon="fa-calendar-check" title="Retested Date" value=vuln.date_retested|date %}
        {% else %}
            {% include 'components/cards/card_with_information.html' with icon="fa-calendar-check" title="Retested Date" value="-" %}
        {% endif %}
    </div>
</div>