{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.css" />

{% endblock %}

{% block title %}Create Vulnerability Template{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'findings:template-list' %}">Vulnerability Templates</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>
{% endblock %}


{% block content %}
    {% include 'forms/formset.html' with method="post" %}
{% endblock %}

{% block extra_scripts %}
    {% include 'forms/dynamic_formset.html' with single_inline=proofs %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/markdown/markdown.min.js"></script>
    <script>
      let cm_description = CodeMirror.fromTextArea(document.getElementById('id_description'), {
        lineNumbers: true, mode: "markdown"
      });
      let cm_resolution = CodeMirror.fromTextArea(document.getElementById('id_resolution'), {
          lineNumbers: true, mode: "markdown"
      })
      $('#id_description').val("-");
      $('#id_resolution').val("-");
    </script>
{% endblock %}