{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/codemirror.min.css' %}"/>

    <style>
        .CodeMirror {
            color: #B1B1B1 !important;
            background-color: #222222 !important;
            border: 1px solid #515151 !important;
        }
    </style>

{% endblock %}

{% block title %}Create Vulnerability Template{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'findings:template-list' %}">Vulnerability Templates</a></li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
{% endblock %}


{% block content %}
    {% crispy form %}
{% endblock %}

{% block extra_scripts %}

    <script src="{% static 'js/codemirror/codemirror.min.js' %}"></script>
    <script src="{% static 'js/codemirror/markdown.min.js' %}"></script>
    <script>
        let cm_description = CodeMirror.fromTextArea(document.getElementById('id_description'), {
            mode: "markdown"
        });
        let cm_resolution = CodeMirror.fromTextArea(document.getElementById('id_resolution'), {
            mode: "markdown"
        })
        $('#id_description').val("-");
        $('#id_resolution').val("-");
    </script>
{% endblock %}