{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load vulnmantags %}

{% block title %}
    User Accounts
{% endblock %}


{% block content %}
    <h3 class="text-center">User Accounts</h3>
    <hr/>
    <div class="container mt-3">
        <div class="clearfix">
            <div class="float-end">
                {% get_obj_perms request.user for project as "project_perms" %}
                {% if "change_project" in project_perms %}
                <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#account-create-modal">
                    <i class="fa fa-plus"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% if user_accounts %}
        <table class="table table-hover table-striped mt-3">
            <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Compromised</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for account in user_accounts %}
                <tr>
                    <td>{{ account.username }}</td>
                    <td>{{ account.role }}</td>
                    <td>{{ account.account_compromised }}</td>
                    <td>
                        <a href="#" data-bs-toggle="modal"
                           data-bs-target="#password-show-modal-{{ account.pk }}">Show</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-warning" data-bs-toggle="modal"
                           data-bs-target="#update-modal-{{ account.pk }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                           data-bs-target="#delete-modal-{{ account.pk }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <div class="modal fade" id="password-show-modal-{{ account.pk }}" tabindex="-1"
                     aria-labelledby="password-show-modal-{{ account.pk }}-label">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="password-show-modal-{{ account.pk }}-label">Password</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ account.password }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'modals/delete_object.html' with obj=account %}

            {% endfor %}
            </tbody>
        </table>
        {% else %}
                <div class="card mt-3">
                <div class="card-body">
                    {% show_blankslate %}
                </div>
            </div>
        {% endif %}
        <div class="modal fade" id="account-create-modal" tabindex="-1" aria-labelledby="account-create-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="account-create-modal-label">Create User Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% crispy account_create_form %}
                    </div>
                </div>
            </div>
        </div>

        {% for update_form in account_update_forms %}
            <div class="modal fade" id="update-modal-{{ update_form.instance.pk }}" tabindex="-1"
                 aria-labelledby="update-modal-{{ update_form.instance.pk }}-label">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="update-modal-{{ update_form.instance.pk }}-label">Update User Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% crispy update_form %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% include 'core/components/navigation/pagination.html' %}
    </div>
{% endblock %}