{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Web Applications
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
        <li class="breadcrumb-item active">Hosts</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="clearfix">
            <div class="float-end">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

        <ul class="list-group mt-3">
            {% for host in hosts %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="float-start">{{ host }}</div>
                            <div class="float-end">
                                <button class="btn btn-sm btn-outline-primary" onclick="removeAsset('{{host.pk}}')"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small>OS: {{ host.operating_system }}</small>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">
                    No Hosts yet!
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="create-modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-modal-label">Create Host</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy host_create_form %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
<script>
    function removeAsset(asset_id){
        $.ajax({
            type: "DELETE",
            url: "/api/v1/assets/hosts/" + asset_id + "/",
            dataType: "json",
            data: {},
            success: function(data){
                location.reload()
                // console.log(data)
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
            }
        });
    }
</script>
{% endblock %}