{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Services
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="clearfix">
            <div class="float-end">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#webapp-create-modal">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

        <table class="table table-hover table-striped table-bordered mt-3">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Port</th>
                    <th>Name</th>
                    <th>Protocol</th>
                    <th>State</th>
                    <th>Banner</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.host }}</td>
                        <td>{{ service.port }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.get_protocol_display }}</td>
                        <td>{{ service.get_state_display }}</td>
                        <td>{{ service.banner }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- Create Modal -->
    <div class="modal fade" id="webapp-create-modal" tabindex="-1" aria-labelledby="webapp-create-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="webapp-create-modal-label">Create Web Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy service_create_form %}
                </div>
            </div>
        </div>
    </div>

    {% include "navigation/pagination.html" %}
{% endblock content %}

{% block extra_scripts %}
<script>
    function removeAsset(asset_id){
        $.ajax({
            type: "DELETE",
            url: "/api/v1/assets/webapplications/" + asset_id + "/",
            dataType: "json",
            data: {},
            success: function(data){
                location.reload()
                // console.log(data)
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
            }
        });
    }
</script>
{% endblock %}