{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Web Applications
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
        <li class="breadcrumb-item active">Web Applications</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="float-end">
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#webapp-create-modal">
                <i class="fa fa-plus"></i> New Web Application
            </a>
        </div>
    </div>


    <div class="container mt-3">
        <ul class="list-group">
            {% for webapp in webapps %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="float-start">{{ webapp }}</div>
                            <div class="float-end">
                                <button class="btn btn-sm btn-outline-primary" onclick="removeAsset('{{webapp.pk}}')"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small>{{ webapp.base_url }}</small>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="webapp-create-modal" tabindex="-1" aria-labelledby="webapp-create-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="webapp-create-modal-label">Create Web Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy webapp_create_form %}
                </div>
            </div>
        </div>
    </div>

    {% include "navigation/pagination.html" %}
{% endblock content %}

{% block extra_scripts %}
<script>
    function removeAsset(asset_id){
        $.ajax({
            type: "DELETE",
            url: "/api/v1/assets/webapplications/" + asset_id + "/",
            dataType: "json",
            data: {},
            success: function(data){
                location.reload()
                // console.log(data)
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value)
            }
        });
    }
</script>
{% endblock %}