{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Web Applications
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="clearfix">
            <div class="float-end">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#webapp-create-modal">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

        <table class="table table-hover table-striped mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Base URL</th>
                </tr>
            </thead>
            <tbody>
                {% for webapp in webapps %}
                    <tr>
                        <td><a href="{% url 'projects:assets:webapp-detail' webapp.pk %}">{{ webapp.name }}</a></td>
                        <td>{{ webapp.base_url }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="webapp-create-modal" tabindex="-1" aria-labelledby="webapp-create-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="webapp-create-modal-label">Create Web Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy webapp_create_form %}
                </div>
            </div>
        </div>
    </div>

    {% include "navigation/pagination.html" %}
{% endblock content %}
