{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load vulnmantags %}

{% block title %}
    Web Applications
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="clearfix">
            {% get_obj_perms request.user for project as "project_perms" %}
            {% if "change_project" in project_perms %}
            <div class="float-end">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#webrequest-create-modal">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            {% endif %}
        </div>

        {% if not webrequests %}
            <div class="card mt-3">
                <div class="card-body">
                    {% show_blankslate %}
                </div>
            </div>
        {% else %}
        <table class="table table-hover table-striped mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Web Application</th>
                    <th>Parameter</th>
                </tr>
            </thead>
            <tbody>
                {% for webrequest in webrequests %}
                    <tr>
                        <td><a href="{% url 'projects:assets:webrequest-detail' webrequest.pk %}">{{ webrequest.name }}</a></td>
                        <td>{{ webrequest.web_app }}</td>
                        <td>{{ webrequest.parameter }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="webrequest-create-modal" tabindex="-1" aria-labelledby="webrequest-create-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="webrequest-create-modal-label">Create Web Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy webrequest_create_form %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
