{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Web Applications
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
        <li class="breadcrumb-item active">Web Requests</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="float-end">
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#webrequest-create-modal">
                <i class="fa fa-plus"></i> New Web Request
            </a>
        </div>
    </div>


    <div class="container mt-3">
        <ul class="list-group">
            {% for webrequest in webrequests %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ webrequest }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small>{{ webrequest.web_app }}</small>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="webrequest-create-modal" tabindex="-1" aria-labelledby="webrequest-create-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="webrequest-create-modal-label">Create Web Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy webrequest_create_form %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}