{% if invert %}
    <li class="timeline-inverted mt-2">
{% else %}
    <li class="mt-2">
{% endif %}
    <div class="timeline-badge bg-primary">
        <i class="fa {{ icon }}"></i>
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">{{ title }}</h4>
            <div class="clearfix">
                <div class="float-start">
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ date_created|timesince }} ago by {{ user }}</small></p>
                </div>
                <div class="float-end">
                    <p><small class="text-muted">{{ footer_right }}</small></p>
                </div>
            </div>
        </div>
        <div class="timeline-body">
            <p>{{ body }}</p>
        </div>
    </div>
</li>