{% extends 'base.html' %}

{% block title %}
Hosts
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item active">Hosts</li>
</ol>
{% endblock %}

{% block content %}

    <div class="clearfix">
        <div class="float-end">
            <a class="btn btn-primary" href="{% url 'projects:vulns:host-create' project.pk %}">
                <i class="fa fa-plus"></i> Create Host
            </a>
        </div>
    </div>

    <div class="list-group mt-3">
        {% for host in hosts %}
            <a href="{% url 'projects:vulns:host-detail' project.pk host.pk %}" style="color: {{ vuln.get_severity_colors.hex }}"
               class="list-group-item list-group-item-action">
                {{ host }}
            </a>
        {% empty %}
            <span class="list-group-item">No hosts yet!</span>
        {% endfor %}
    </div>

    {% include 'navigation/pagination.html' %}

{% endblock %}