{% extends 'base.html' %}
{% load markdown %}

{% block title %}
{{ project.name }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:vulns:vuln-list' %}">Vulnerabilities</a></li>
    <li class="breadcrumb-item active">{{ vuln }}</li>
</ol>
{% endblock %}

{% block content %}
    <h3 class="text-center">{{ vuln.name }}</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="float-start">
                    <small class="text-muted">Created: {{ vuln.date_created|date }}</small>
                </div>
                <div class="float-end">
                    <small class="text-muted">Created by: {{ vuln.creator }}</small>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="clearfix">
        <div class="float-end">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="host-action-dropdown"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="host-action-dropdown">
                    <li><a class="dropdown-item" href="{% url 'projects:vulns:vuln-update' vuln.pk %}"><i class="fa fa-edit"></i> Edit</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ vuln.pk }}"><i class="fa fa-trash"></i> Delete</a></li>
                </ul>
            </div>
        </div>
    </div>

    <p><strong>Description: </strong>
        {% if vuln.template %}
        {{ vuln.template.description | md_to_html }}
        {% else %}
        {{ vuln.description | md_to_html }}
        {% endif %}
    </p>
    <p style="color: #{{ vuln.get_severity_colors.hex }}"><strong>Score: </strong>{{ vuln.get_scores.0 }} ({{ vuln.get_severities.0 }})</p>
    <p><strong>CVSS-Vector: </strong>{{ vuln.cvss_string }}</p>
    <p><strong>Impact: </strong>{{ vuln.impact | md_to_html }}</p>

    <h4>Proof of concept</h4>
    {% for proof in vuln.proofofconcept_set.all %}
        {% if proof.image %}
            <figure class="figure">
                <img src="{{ MEDIA_URL }}/{{ proof.image }}" class="figure-img img-fluid rounded img-thumbnail" alt="{{ proof.name }}">
                <figcaption class="figure-caption">{{ proof.name }}</figcaption>
            </figure>
        {% endif %}
        <p>{{ proof.description|linebreaksbr }}</p>
    {% endfor %}
    <h4>Handlungsempfehlung</h4>
    {% if vuln.template %}
        <p>{{ vuln.template.remediation | md_to_html }}</p>
    {% else %}
        <p>{{ vuln.remediation | md_to_html }}</p>
    {% endif %}

    <h4>References</h4>
    <ul>
    {% for reference in vuln.get_references_as_list %}
        <li>{{ reference }}</li>
    {% endfor %}
    </ul>

    {% include 'modals/delete_object.html' with obj=vuln %}
{% endblock %}