{% extends 'base.html' %}
{% load static %}

{% block title %}Create Vulnerability{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.min.css' %}" />
    <script src="{% static 'js/cvss.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cvss.css' %}" />
    <link rel="stylesheet" href="{% static 'css/codemirror.min.css'%} " />
    <style>
        .select2-container--bootstrap5 .select2-selection {
            min-height: 40px;
        }
    </style>
{% endblock  %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:vulns:vuln-list' %}">Vulnerabilities</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>
{% endblock %}


{% block content %}
    {% include 'forms/formset.html' with method="post" enctype=True %}
{% endblock %}


{% block extra_scripts %}
    {{ form.media }}
    {% include 'forms/dynamic_formset.html' with single_inline=proofs %}
    <script src="{% static 'js/codemirror/codemirror.min.js' %}"></script>
    <script src="{% static 'js/codemirror/markdown.min.js' %}"></script>
    <script>
      let cm_description = CodeMirror.fromTextArea(document.getElementById('id_description'), {
        lineNumbers: true, mode: "markdown"
      });
      let cm_impact = CodeMirror.fromTextArea(document.getElementById('id_impact'), {
          lineNumbers: true, mode: "markdown"
      })
      let cm_remediation = CodeMirror.fromTextArea(document.getElementById('id_remediation'), {
          lineNumbers: true, mode: "markdown"
      })
    </script>

    <script>
        /* This seems required to allow the form to be submitted */
        $('#id_description').val("1");
        $('#id_remediation').val("1");
        document.querySelector("#id_vulnerability_template").onchange=function() {
            let selected_item = $(this).find("option:selected");
            let api_url = "/api/findings/templates/" + selected_item.val() + "/";
            $.get(api_url, function(data){
                $('#id_name').val(data.name);
                $('#id_references').val(data.references);
                /* This seems required to allow the form to be submitted */
                $('#id_description').val(data.description);
                $('#id_remediation').val(data.remediation);
                cm_description.setValue(data.description);
                cm_remediation.setValue(data.remediation);
            })
}   </script>

    <script>
    cvss_string = document.getElementById("id_cvss_string");
    var el = document.createElement("div");
    el.setAttribute("id", "cvssboard");
    cvss_string.parentNode.insertBefore(el, cvss_string.nextSibling);
    var c = new CVSS("cvssboard", {
        onchange: function() {
            if (c.get().score !== "?"){
                $("#id_cvss_string").val(c.get().vector);
            }
        }
    });
    if(cvss_string.value){
        c.set(cvss_string.value);
    }
    </script>
{% endblock  %}