{% extends 'base.html' %}

{% block title %}
Create Web Application
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:vulns:host-list' project.pk %}">Hosts</a></li>
    <li class="breadcrumb-item"><a href="{% url 'projects:vulns:host-detail' project.pk form.instance.hostname.host.pk %}">{{ form.instance.hostname.host }}</a></li>
    <li class="breadcrumb-item active">Add web application</li>
</ol>
{% endblock %}


{% block content %}
    {% include 'forms/simple.html' with method="post" %}
{% endblock %}
